body {
    margin: 0px;
    font-family: 'Staatliches', cursive;    
    min-width: 675px;
    background-color: plum;   
}

p {
    font-size: 28px;
    margin: 0px;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
  
    height: 125px;
    background-color:purple;
    color: plum;
    padding: 0 30px;
   
    font-size: 32px;
    min-width: 650px;
}

.instruction {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    margin-right: 50px;
    padding: 25px;   
    min-width: 555px 
}

.start-btn {
    font-family: inherit;
    color: plum;
    font-size: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 180px;
    width: 180px;
    height: 75px;
    border-radius: 10px;
    background-color: purple;  
    border: dashed 5px gold;
    transition: transform 0.2s ease-in-out;
}

.btn-clicked{
    background-color:plum;
    color: #E6E6FA;    
}
.top-section {
   display: flex;   
    justify-content: center;
    align-items: center;
    z-index: 100;
    position: relative;
    background-color:#eddfea;;    
    padding: 20px 30px 20px 30px;    
}

.game-section {    
    display: flex;
    justify-content: center;
    align-items: center;  
} 

.game-container{
    position: relative; 
   border-right: solid 200px#eddfea;
   border-left: solid 200px #eddfea;
   border-bottom: solid 200px #eddfea;
}

.start-btn:not(.btn-clicked):hover {
    cursor: pointer;
    transform: scale(1.1);
}

@media only screen and (max-width: 1200px) {
    .top-section {        
        flex-direction: column;                         
    }
    .game-container{
       
       border-right: solid 100px#eddfea;
       border-left: solid 100px #eddfea;
      
    }

    .instruction {    
        margin-right: 0px;        
    }

    p {
        font-size: 24px;      
    }
  }